body{
    background-color: #000;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: azure;
    overflow: hidden;
    -webkit-transition: background-image 1.5s ease-in-out;
    transition: background-image 1.5s ease-in-out;
}
#quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 2;
}
#quote{
    position: relative;
    margin: 30px;
    font-size: 75px;
    text-shadow: 4px 4px #860303;
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 0.5s;
}
#author{
    position: relative;
    margin: 30px;
    font-size: 45px;
    text-shadow: 4px 4px #3e0036be ;
    text-align: right;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 0.5s;
}
#author::before{
    content: "-";
    font-style: italic;
}
@media screen and (max-width: 1000px) {
    body{
        background-position: bottom;
    }
    #quote-container{
        height: 50vh;
    }
    #quote{
        font-size: 50px;
    }
}